@tailwind base;
@tailwind components;
@tailwind utilities;






@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.2rem;
  /* max-width: 35rem; */

 

}

a {
  text-decoration: none;
  list-style-type: none;
  /* color:  rgb(34 197 94 / var(--tw-text-opacity)); */
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

 

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

